.delete-picture{
    cursor: pointer;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-picture img{
    height: 80px;
    width: 80px;
}
.info-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px; 
}
.info-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.name{
    width: 70%;
}
.price, .stock{
    width: 25%;
}
.add-info-container{
    background: white;
    padding: 2px;
}
.info-select select{
    height:50px;
    background-color: white;
    border: 1px solid #ccc;
    flex: 1;
    padding: 5px 10px;
}

textarea{
    height: 360px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
}
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #2d1972;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ffb606;
}
.submit-btn:disabled {
    background-color: #39305a;
    cursor: not-allowed;
    opacity: 0.6;
}

.edit-preview{
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.edit-preview.active{
    background-color: #2d1972;
    color: white;
}

.add-product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.add-product-top {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.add-product-details {
    width: 100%;
    margin-top: 20px;
}

.details-bar-side {
    display: flex;
    gap: 10px;
}

.details-bar-side span {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 600;
}
.details-content{
    display: flex;
    gap: 10px;
}
.details-editor{
    width: 50%;
}