.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2d1972;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.left-header, .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.right-header{
    gap: 20px;
    margin-right: 20px;
}

.logo-text{
    color:white;
}

.du-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}