.container{
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: flex-start;
    gap: 20px;
}
.top-part{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.info-container {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.picture-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.picture-bar{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100px;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.picture-bar img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.picture-bar img:hover, 
.picture-bar img:focus{
    border: 1px solid black;
}

.picture-area{
    background-color: white;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-picture{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.details-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1410px;
    height: 600px;
    padding: 20px;
}

.tab-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.tab-bar span{
    cursor: pointer;
}
